.bodyMain {
    width: 50%;
    display: relative;

    translate: 50%;
}

@media screen and (max-width : 500px) {
    .bodyMain {
        width: 100%;
        border: 1px blue solid;
        translate: 0%;
    }
}