.postDiv {
    display: flex;
    flex-direction: row;
    height: 20rem;

    max-width: 50%;

    border: solid red 1px;
}

.postDiv>p {
    height: 10em;
    overflow: scroll;
}

.postBodyDiv {
    flex: 2;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.postBodyDiv>p {
    border: dashed black 1px;

    margin: 0.2rem;
    bottom: 0px;
}

.interactionDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.commentDiv {
    flex: 5;
    overflow: scroll;

    border: solid black 1px;
    margin: 0.2rem;
    padding: 0.2rem;
}